.list
	background-color: $foreground
	margin-bottom: 2em
	border: 1px solid $border
	border-bottom: 0px none

.tile
	border-bottom: 1px solid $border
	display: flex
	padding: 0.5em 1em

.tile--oneline
	height: 4em

.tile--oneline > .tile-focus
	font-weight: $b-fontWeight-bold
	padding-top: 0.875em

.tile--oneline > .pts
	padding-top: 0.75em

.tile--twoline
	height: 4em

.tile--twoline > .tile-focus
	padding-top: 0.25em

.tile-focus
	color: $c-text-primary
	flex-grow: 1
	flex-shrink: 1
	min-width: 0

	// IE 10
	display: inline-block

.tile-icon--a
	height: 100%
	padding: 0 (2em / 3) 0 0

.tile-title
	display: inline-block
	font-weight: $b-fontWeight-bold
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
	width: 100%

.tile-subtitle
	display: inline-block
	font-size: 0.875em
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
	width: 100%


// Modifiers

.tile.has-action
	transition: background-color 0.2s

	&:active, &:hover, &:focus
		background-color: lighten($main, 40%)

.tile--placeholder
	display: none
	text-align: center
	padding: 1em

	&:only-child
		display: block