      <section>
        <h2 class="mtm">Notifications</h2>
<% if @notifications.any? %>
        <div class="list">
  <% @notifications.each do |notification| %>
          <div class="tile tile--twoline">
            <div class="tile-focus">
              <div class="tile-title"><%= notification.title %></div>
              <div class="tile-subtitle"><%= notification.message %></div>
            </div>
            <%= link_to read_notification_path(notification), method: :put, class: "icon", title: "Mark as Read" do %>
              <svg>
                <use xlink:href="#icon-check"></use>
                <foreignObject display="none">
                  Read
                </foreignObject>
              </svg>
            <% end %>
            <%= link_to notification_path(notification), method: :delete, class: "icon", title: "Remove" do %>
              <svg>
                <use xlink:href="#icon-cross"></use>
                <foreignObject display="none">
                  Remove
                </foreignObject>
              </svg>
            <% end %>
          </div>
  <% end %>
        </div>
<% else %>
        <article>
          You don't currently have any notifications.
        </article>
<% end %>
      </section>