			<section>
<% if @users.any? %>
				<h2>Users</h2>
				<div class="list">
	<% @users.each do |user| %>
<%= render 'listing', user: user %>
	<% end %>
				</div>
<% else %>
				<article>
					There aren't any retired users, yet.
				</article>
<% end %>
			</section>