<% # These are modals that describe the different order needs. %>
<div class="modal" id="handbill_modal">
	<h3>Handbill Information</h3>
	<p>Handbills are small prints used to promote organizations and events.</p>

	<h4>4.25" x 5.5"</h4>
	<p>This is generally used for in-house / SGA printing.  You can fit 4 handbills of this size on a standard 8.5" x 11" sheet of paper.</p>

	<h4>4" x 6"</h4>
	<p>These are the preferred dimensions for online printing services.</p>

	<h4>Unsure?</h4>
	<p>E-mail your advisor if you're not sure which size would be best.</p>
</div>

<div class="modal" id="poster_modal">
	<h3>Poster Information</h3>
	<p>Posters are larger prints that are used to promote events on campus or at affiliated venues.</p>

	<h4>8.5" x 11"</h4>
	<p>Posters this size are typically displayed <em>or</em> distributed.</p>

	<h4>11" x 17"</h4>
	<p>These posters are normally used for display.</p>

	<h4>Unsure?</h4>
	<p>E-mail your advisor if you're not sure which size would be best.</p>
</div>

