.tag
  border: 1px solid $c-text-divider
  border-radius: 0.25em
  display: inline-block
  font-size: $b-fontSize-s

.tag > div
  display: inline-block
  padding: 0.5em

.tag > div:first-child
  background-color: $c-background