.orders.index

	table

		width: 100%
		

	.order

		cursor: pointer

		&:active, &:focus, &:hover
		
			background-color: lighten($main, 40%)
		
		-webkit-transition: background-color 0.5s
		-moz-transition: background-color 0.5s
		-ms-transition: background-color 0.5s
		-o-transition: background-color 0.5s
		transition: background-color 0.5s 


	.status

		font-size: 1.25em
		text-align: center
		

	.name

		font-weight: bold
		

	.action

		text-align: right
		

	.preview

		display: none
		
		td

			padding: 0
			
		article, aside
		
			display: table-cell
			vertical-align: top
			

.orders.new, .orders.edit, .orders.update

	form

		@extend %clearfix
		

	fieldset
		
		border: 0px none
		float: left
		margin: 0
		padding: 1em
		width: 50%
		
		@extend %clearfix
		
		&:nth-of-type(2n+1)

			clear: left
		

	input[type="text"], input[type="email"]

		width: 100%
		

	textarea

		max-width: 100%
		min-height: 200px
		width: 100%
		

	.flavor, .needs, .description, .submit

		clear: both
		padding: 1em 
		width: 100%
		

	.flavor
		
		font-size: 1.5em 
		margin: 0
		padding: 0 1rem
		
		h3
			
			font-weight: normal
			margin-bottom: 0.25em
			text-align: center
		
		label
			
			cursor: pointer
			display: block
			
			&:hover

				background-color: lighten($main, 40%) 
			
			-webkit-transition: background-color 0.5s, color 0.5s
			-moz-transition: background-color 0.5s, color 0.5s
			-ms-transition: background-color 0.5s, color 0.5s
			-o-transition: background-color 0.5s, color 0.5s
			transition: background-color 0.5s, color 0.5s
		
		ul
			
			border: 2px solid $main
			-webkit-border-radius: 4px
			border-radius: 4px
			@include flexbox
			justify-content: space-around
			list-style: none
			padding: 0
			margin: 0
			
		li
			
			border: 1px solid $main
			@include flex (1 1)
			text-align: center
			
		input

			display: none
			
		input:checked ~ label
		
			background-color: $main
			color: $foreground



	.needs

		div
	
			@include flexbox
			flex-flow: row wrap
			align-content: flex-start
			
		p

			@include flex(1 1 150px)
			margin-right: 1em
			
		.need-label
			
			color: #000
			text-decoration: none
			
		input[type="text"]
			
			max-width: 100% 
			width: 150px
			
			-webkit-transition: opacity 0.5s
			-moz-transition: opacity 0.5s
			-ms-transition: opacity 0.5s
			-o-transition: opacity 0.5s
			transition: opacity 0.5s
			
		input:disabled

			opacity: 0
			


	.modal

		display: none