@import "partials/*"
@import "orders", "organizations", "pages", "users"

body

	background-color: $background
	font-family: $typeface, Helvetica, sans-serif
	

header

	background-color: $main
	border-bottom: 1px solid 
	color: $foreground
	padding: 0.5em 0 
	
	@extend %clearfix
	
	h1

		float: left
		letter-spacing: 1px
		margin: 0

	nav

		float: right
		font-size: 1.5em
		
		a

			border-radius: 4px
			color: $foreground
			display: inline-block
			padding: 0.25em 0.5em
			text-decoration: none
			
			&:active, &:focus, &:hover
				
				background-color: darken($main, 10%)
				color: $foreground
			
			-webkit-transition: background-color 0.5s
			-moz-transition: background-color 0.5s
			-ms-transition: background-color 0.5s
			-o-transition: background-color 0.5s
			transition: background-color 0.5s
	

.main
	
	display: table
	

.constraint, .main
	
	margin: auto
	max-width: $maxWidth
	width: 100%
	

.constraint

	padding-left: 1em
	padding-right: 1em
	

section, aside

	display: table-cell
	padding: 1em
	
	h2

		background-color: $main
		border-top-left-radius: 4px
		border-top-right-radius: 4px
		color: $foreground
		font-size: 1.75em
		font-weight: 400
		margin-bottom: 0 
		padding: 0.25em
		text-align: center



article

	background-color: $foreground
	border: 1px solid $border
	padding: 1em
	margin-bottom: 2em 
		

table
	
	background-color: $foreground 
	border: 1px solid $border
	margin: 0 auto 4em
	padding: 1em
	
	caption
		
		background-color: $main
		border-top-left-radius: 4px
		border-top-right-radius: 4px
		color: $foreground
		font-size: 1.75em
		padding: 0.25em
		text-align: center

	
	th, td

		border-top: 1px solid $border
		text-align: left
		padding: 0.5em 2em
		
		-moz-font-feature-settings: "lnum" 1
		-moz-font-feature-settings: "lnum=1"
		-ms-font-feature-settings: "lnum" 1
		-o-font-feature-settings: "lnum" 1
		-webkit-font-feature-settings: "lnum" 1
		font-feature-settings: "lnum" 1
	

.flash
	
	-webkit-border-radius: 4px 
	border-radius: 4px 
	margin-bottom: 0 
	padding: 0.5em
	

.success, .notice

	background-color: lighten($success, 40%)
	border: 2px solid $success
	

.alert

	background-color: lighten($alert, 20%)
	border: 2px solid $alert
	

.actions

	display: table-row
	
	p

		padding: 1em 1em 0
	

.button

	border-radius: 0.25em
	color: #FFFFFF
	cursor: pointer
	display: inline-block
	padding: 0.25em 0.75em
	margin: 0.25em 0
	
	@include button-color($btn-color-default)
	
	&.button-alert
		@include button-color($btn-color-red)
	
	&.button-okay
		@include button-color($btn-color-green)
		
	&.right
		float: right
		margin-left: 0.5em
		margin-top: -3px 
		

a

	color: $main
	
	&:active, &:focus, &:hover
	
		color: darken($main, 10%)
	
	-webkit-transition: color 0.5s
	-moz-transition: color 0.5s
	-ms-transition: color 0.5s
	-o-transition: color 0.5s
	transition: color 0.5s
	

form span

	color: #ae0004
	font-weight: normal