@import "partials/variables", "partials/icons"
@import "orders", "organizations", "pages", "users"

@import "foundation/reset"
@import "foundation/helpers"
@import "foundation/config"
@import "foundation/base"

@import "components/*"
@import "structures/*"

@import "foundation/tools"


// .main
//
// 	display: table


.constraint, .main

	margin: auto
	max-width: $maxWidth
	width: 100%


.constraint

	padding-left: 1em
	padding-right: 1em


header

	margin-bottom: 2em


section, aside

	// display: table-cell
	margin: auto
	padding: 1em

	h2

		background-color: $main
		border-top-left-radius: 4px
		border-top-right-radius: 4px
		color: $foreground
		font-size: 1.75em
		font-weight: 400
		margin: 0
		padding: 0.25em
		text-align: center



article

	background-color: $foreground
	border: 1px solid $border
	padding: 1em


table

	background-color: $foreground
	border: 1px solid $border
	margin: 0 auto 4em
	padding: 1em

	caption

		background-color: $main
		border-top-left-radius: 4px
		border-top-right-radius: 4px
		color: $foreground
		font-size: 1.75em
		padding: 0.25em
		text-align: center


	th, td

		border-top: 1px solid $border
		text-align: left
		padding: 0.5em 2em

		-moz-font-feature-settings: "lnum" 1
		-moz-font-feature-settings: "lnum=1"
		-ms-font-feature-settings: "lnum" 1
		-o-font-feature-settings: "lnum" 1
		-webkit-font-feature-settings: "lnum" 1
		font-feature-settings: "lnum" 1


.flash

	-webkit-border-radius: 4px
	border-radius: 4px
	margin-bottom: 0
	padding: 0.5em


.success, .notice

	background-color: lighten($success, 40%)
	border: 2px solid $success


.alert

	background-color: lighten($alert, 20%)
	border: 2px solid $alert


.actions

	display: table-row

	p

		padding: 0 1em


a

	&:active, &:focus, &:hover

		color: darken($main, 10%)

	-webkit-transition: color 0.5s
	-moz-transition: color 0.5s
	-ms-transition: color 0.5s
	-o-transition: color 0.5s
	transition: color 0.5s


form span

	color: #ae0004
	font-weight: normal


h3

	margin-top: 0


em, th, h3

	font-style: normal
	font-weight: 500


.pagination

	margin-bottom: 1em
	// text-align: center

	a, em

		font-weight: normal
		padding: 0.25em

	.disabled

		color: darken($background, 40%)