			<div class="row row--s">
				<div class="cell cell--s">
					<div class="card card--s">
						<h2 class="card-title">Organizations</h2>
						<div class="list list--a mbf">
<% if @organizations.any? %>
	<% @organizations.each do |org| %>
<%= render "listing", org: org %>
	<% end %>
<% end %>
						</div>
					</div>

					<div class="card card--s">
						<h3 class="card-title card-title--s">Create new</h3>
						<div class="card-section">
							<%= form_for Organization.new, remote: true do |f| %>
								<p>
									<%= f.text_field :name, required: true %>
									<%= f.submit "Create", :class => "button button-okay" %>
								</p>
								<p>
								</p>
							<% end %>
						</div>
					</div>
				</div>
			</div>